.recipe-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: larger;
}

.recipe-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe-input {
  border-bottom: solid 1px black;
  margin-bottom: 10px;
}

.recipe-text-area {
  margin-bottom: 10px;
  border-bottom: solid 1px black;
}

.recipe-area {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .recipe-input {
    border-bottom: solid 1px white;
  }

  .recipe-text-area {
    margin-bottom: 10px;
    border-bottom: solid 1px white;
  }
}
